BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Custom

BraceWrapping:
  AfterFunction: false
  AfterStruct: true
  AfterControlStatement: Never
  BeforeElse: false
  BeforeCatch: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

BinPackArguments: false
BinPackParameters: false

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: false
